name: Test
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  contents: write

jobs:
  test:
    name: helplint test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: true
      - name: helplint-check
        uses: ./
        with:
          reporter: github-check
