name: Test
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  contents: write

jobs:
  test:
    name: helplint test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
      - name: helplint-check
        uses: ./
        with:
          reporter: github-check
